.DS_Store
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
sampleImage/ChanC_Preview.tif
sampleImage/Image_001_001.raw
sampleImage/*
2_002/ChanC_Preview.tif
2_002/Experiment.xml
2_002/Image_001_001.raw
2_002/ROIMask.raw
2_002/ROIs.xaml
